<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p> Student with firstName <span th:text="${student.firstName}" />
    and lastName <span th:text=" ${student.LastName}" />
    and country <span  th:text="${student.country}" />
    and preferred coding language <span th:text="${student.codingLanguage}"/>
    and number of first passes
    and preferred OS are <span th:text="${student.freePasses}"/>
    <ul>
        <li th:each="tempOs: ${student.preferredOS}"
            th:text="${tempOs}"
        />
    </ul>

    successfully added</p>
</body>
</html>

