<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/css/styles.css}"
    />
</head>
<body>

<h3> Student Registration Form</h3>
<form th:action="@{/processStudentForm}" method="POST" th:object="${student}"    >
    <p>
        <span>First Name: </span>
        <input type="text" th:field="*{firstName}"/>
    </p>

    <p>
        <span> Last Name: </span>
        <input type="text" th:field="*{lastName}"/>
        <span th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}"
              class="error"
        > </span>
    </p>
    <p>
        <span> Country: </span>
        <select th:field="*{country}">
            <option th:each="tempcountry : ${countries}"
                    th:value="${tempcountry}"
                    th:text="${tempcountry}"
            >
        </select>
    </p>
    <p>
        <span> Preferred Coding Language: </span>
        <input type="radio"
               th:field="*{codingLanguage}"
               th:each="tempLanguage: ${codingLanguages}"
               th:value="${tempLanguage}"
               th:text="${tempLanguage}"
                />
    </p>
    <p>
        <span> Preferred OS: </span>
        <input type="checkbox"
               th:field="*{preferredOS}"
               th:each="tempOS: ${preferredOSs}"
               th:value="${tempOS}"
               th:text="${tempOS}"
        />
    </p>
    <p>
        <span> First Passes: </span>
        <input type="text" th:field="*{freePasses}"/>
        <span th:if="${#fields.hasErrors('freePasses')}"
              th:errors="*{freePasses}"
              class="error"
        > </span>
    </p>

    <p>
        <span> Postal Code: </span>
        <input type="text" th:field="*{postalCode}"/>
        <span th:if="${#fields.hasErrors('postalCode')}"
              th:errors="*{postalCode}"
              class="error"
        > </span>
    </p>
    <button type="submit" value="Submit"> Submit </button>
</form>
</body>
</html>


